body{
    margin:0;
}
.todo-container{
    width:350px;
    text-align:center;
    margin: auto;
    margin-top: 30px;
}

h2{
    margin-bottom: 15px;
    color:#00BCD4
}

ul{
    padding: 0;
}

ul li{
    background-color: #00838F;
    padding: 10px;
    list-style: none;
    color: #00BCD4;
    border-radius: 5px;
    border: 1px solid #00BCD4;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px #5a5a5a80;
    display: flex;

}

ul li i{
    text-align: right;
    flex:1;
    cursor: pointer;

}

.input-section{
    background-color: #00838F;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px #5a5a5a31;


}

.input-section input {
    background-color: #0097a7;
    width: 100%;
    padding: 10px;
    color: #006064;
    border-radius: 5px;
    border: 1px solid #5a5a5a31;
    box-sizing: border-box;
    outline: none;
  }

input::placeholder{
    color:#00BCD4;
}